<%- include("./partials/header") %>

<h3>Hello <%= username %></h3>
<figure>
  <img style="width: 400pt;" src="/static/images/<%= name %>.png">
  <figcaption><%= name %></figcaption>
</figure>
<br>
<a style="background-color: grey; padding: 6px; margin-top: 12pt;" href="/logout">Logout</a>

<%- include("./partials/footer") %>
